<h1>Hello</h1>
<% user_signed_in? ? user_session["test"]="rachid is tresting " : false%>
which returns meta data on a logged in user. <%= user_signed_in? ? user_session["test"] : "nooooo" %>

<% if user_signed_in? %>
<%= current_user.email %>

    <%= link_to "LogOut", destroy_user_session_path, :method => "DELETE" %>
    
      <% end %>